{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href= "{% static 'login/style.css' %}" rel="stylesheet">
        <title>Viewsense Login Page</title>
    </head>
    <body>
        <div class= "login_panel">
            <img src= "{% static 'login/images/vs_logo.png' %}" width="260" alt="vs_logo">
             <form class="login_form" name="loginForm" action="../login/" method="post">
                    {% csrf_token %}
                    <input class = "login_text" type="text" placeholder="User Name" name="username">
                    <input class = "login_text" type="password" placeholder="Password" name="password">
                    <input class = "button" type="submit" value ="Login"/>
            </form>
            <!--
            <table>
                <tr>
                    <td class="login_cell"><input class = "login_text1" type="text" placeholder="User Name" name="userName"/></td>
                </tr>
                <tr>
                    <td class="login_cell"><input class = "login_text2" type="password" placeholder = "Password" name="userPwd"/></td>
                </tr>
                <tr>
                    <td class="login_cell"><input type="submit" value ="Login"/></td>
                </tr>
            </table>
            -->
        </div>
        
    </body>
</html>