{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Viewsense Dashboard</title>
    </head>
    <body>
        <div class="header">
            <img id="header_logo" src="{% static '/dashboard/images/vs_logo.png' %}" alt ="vs_logo" width="180">    
        </div>

        <div class="header logout_form">
            <form name="logoutForm" action="../login/" method="get">
                <input type = "hidden" name="status" value = "logout" />
                <input id = "logout_button" type="submit" value ="Logout"/>
            </form>
        </div>

        <p id="header_line"></p>
    </body>
</html>